<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post.id) %></div>
<% end %>
  <!-- the post.title is text of the link -->


<!--
or we could do
<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %> -->
